<!-- Portafolio -->
  <section class="left-col" id="portfolio">
      <h3>Portafolio</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </section>
  <section class="logo2">
      <img src="../../../assets/img/logo/logo.png">
  </section>
    <div class="clearfix-padding"></div>
  
      <!-- Servicios -->
      <div class="one-third-padding" id="services">
        <h3>Our Skills One</h3>
        <img src="../../../assets/img/logo/image1.png" alt="servi">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis assumenda provident recusandae deserunt aperiam laboriosam distinctio sed itaque quas maxime!</p>
      </div>
      <div class="one-third-padding">
        <h3>Our Skills Two</h3>
        <img src="../../../assets/img/logo/image2.png" alt="servi">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis assumenda provident recusandae deserunt aperiam laboriosam distinctio sed itaque quas maxime!</p>
      </div>
      <div class="one-third-padding">
        <h3>Our Skills Three</h3>
        <img src="../../../assets/img/logo/image3.png" alt="servi">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis assumenda provident recusandae deserunt aperiam laboriosam distinctio sed itaque quas maxime!</p>
      </div>
    <div class="clearfix-padding"></div>

