<div class="container-fluid"> 
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../../../assets/img/slider/1.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../../assets/img/slider/2.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../../assets/img/slider/3.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../../assets/img/slider/4.jpg" alt="x slide">
    </div>
  </div>
</div>

 <!-- Servicios -->
  <div class="card-group">
        <div class="card serv">
          <div class="card-body text-center">
            <h2 class="card-title">Hospital Pablo Soria</h2>
            <a>info@hospitaljujuy.org.ar</a>
            <p>
            Av. 19 de Abril N°415 - 
            San Salvador de Jujuy - Jujuy -Argentina
            </p>
            <a>San Salvador de Jujuy - Jujuy -Argentina</a>
            <button>Leer Mas</button>
          </div>
        </div>
        <div class="card serv">
          <div class="card-body text-center">
            <h2 class="card-title">Delegacion San Martín</h2>
            <a>ledesma@hospitaljujuy.org.ar</a>
            <p>
            Av. Libertad
            Lib. Gral. San Martín - Jujuy -Argentina
            </p>
        <a>San Salvador de Jujuy - Jujuy -Argentina</a>
        <button>Leer Mas</button>
          </div>
        </div>
        <div class="card serv">
          <div class="card-body text-center">
            <h2 class="card-title">Delegacion San Pedro</h2>
            <a>sanpedro@hospitaljujuy.org.ar</a>
            <p>
            Sarmiento N°309
            San Pedro de Jujuy - Jujuy -Argentina
            </p>
            <a>San Salvador de Jujuy - Jujuy -Argentina</a>
        <button>Leer Mas</button>
          </div>
        </div>
  </div>
</div>